

header{
  text-align: center;
  justify-content: center;
  background-color: blue;
  color: white;
}


.card{
  justify-content: center;
  text-align: center;
  align-items:center;
}
.card-img{
  width:16rem;
  height: 10rem;
  padding:5px;
  padding-top: 10px;
}

.votebutton{
  cursor: pointer;
}

footer{
  justify-content: center;
  text-align: center;
  background-color: blue;
  color: white;
}