

header{
  text-align: center;
  justify-content: center;
  background-color: blue;
  color: white;
}
main{
  margin: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}


footer{
  
  justify-content: center;
  text-align: center;
  background-color: blue;
  color: white;

 
}